* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: antiquewhite;
}

.calc {
    height: 830px;
    width: 540px;
    background-color: #a7adba;
    border-radius: 30px;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.display {
    width: 440px;
    height: 160px;
    background-color: whitesmoke;
    margin: 30px;
    border-radius: 20px;
    border: 1px solid black;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    padding: 15px;
    font-size: 60pt;
}

.lower {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.numpad {
    display: inline-block;
    flex-direction: column;
    align-items: center;
}

.row1, .row2,
.row3, .row4,
.row5 {
    display: flex;
}


.operations {
    display: flex;
    flex-direction: column;
}


button {
    padding: 20px 20px;
    font-size: 40pt;
    border-radius: 13px;
    margin-top: 10px;
    margin-right: 10px;
}

.del, .clear {
    background-color: orange;
}

.oper, .equal {
    padding-left: 30px;
    padding-right: 30px;
}

.equal {
    background-color: rgb(129, 189, 38);
}

.num {
    background-color: rgb(253, 214, 140);
    flex: 1;
}

.num0 {
    flex: 3;
}

.oper {
    background-color: #b0e65f;
}